<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body style="background-color: lightskyblue">
    <center>
        <h1>
            Instructions
        </h1>
        <img src="https://upload.wikimedia.org/wikipedia/en/0/0d/Avengers_Endgame_poster.jpg">
       
        <h3>
            Retrive all data from database -  GET /data <br>
            Post in the database - POST /data<br>
            Retrieve a paricular field from database - GET /data/{id}<br>
            Delete particular field in database - DELETE /data/{id}<br>
            Update database - PUT /data/{id}<br>

            ** This is a basic CRUD application.
        </h3>
    </center>
</body>
</html>
